<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date [%-5thread] %-5level [%-10logger] %-10msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>greyhound.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>greyhound.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>

    <triggeringPolicy name="ROLLING" class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <pattern>%date [%-5thread] %-5level [%-10logger] %-10msg%n</pattern>
    </encoder>
  </appender>

  <appender name="A_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>greyhound_analytics.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>greyhound_analytics.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>

    <triggeringPolicy name="ROLLING" class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <pattern>%date [%-5thread] %-5level [%-10logger] %-10msg%n</pattern>
    </encoder>
  </appender>

  <logger name="analytics" level="info" additivity="false">
    <appender-ref ref="A_ROLLING"/>
    <appender-ref ref="STDOUT"/>
  </logger>
  <root level="WARN">
    <appender-ref ref="ROLLING"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
